<% provide(:title, "Oracle | ") %>
<div id="oracle-clear" class="content">
  <div id="oracle">
    <% tarot = (1..24).to_a %>
    <% position = ["pos", "rev"]%>
    <% oracle = tarot.sample(6) %>
    <% factors = ["1. 主人公の現在", "2. 主人公の近い未来", "3. 主人公の過去", "4. 援助者", "5. 敵対者", "6. 結末（目的）"] %>
    <ul class="oracle-list">
      <% for i in 0..2 do %>
        <% image_num = oracle[i].to_s.rjust(2, "0") %>
        <% image_pos = position.sample %>
        <% image_name = image_pos+image_num %>
        <% image_path = "tarot/"+image_name+".png" %>
        <li class="oracle-item">
          <dl>
            <dt><%= factors[i] %></dt>
            <dd>
            <%= image_tag(image_path, :height => "260px", :class => "tarot-image #{image_pos}" , :id => image_num, "data-num" => "#{i}") %>
            </dd>
          </dl>
        </li>
      <% end %>
    </ul>
    <br>
    <ul class="oracle-list">
      <% for i in 3..5 do %>
        <% image_num = oracle[i].to_s.rjust(2, "0") %>
        <% image_pos = position.sample %>
        <% image_name = image_pos+image_num %>
        <% image_path = "tarot/"+image_name+".png" %>
        <li class="oracle-item">
          <dl>
            <dt><%= factors[i] %></dt>
            <dd>
              <%= image_tag(image_path, :height => "260px", :class => "tarot-image #{image_pos}" , :id => image_num, "data-num" => "#{i}") %>
            </dd>
          </dl>
        </li>
      <% end %>
    </ul>

    <br>
    <%= link_to "もう一度占う", oracle_path, class: "btn btn-lg btn-cyan700_rsd" %>
  </div>
  <div id="result">
    <span id="result-factor">&nbsp;</span>
    <%= image_tag("tarot/000.png", :height => "500px", :id => "result-image") %>
    <div id="result-name">
      &nbsp;
    </div>
    <div id="result-description">
      &nbsp;
    </div>
  </div>
</div>

  <div class="result-name-list">
    <p class="cardlist" id="01">意志</p>
    <p class="cardlist" id="02">清楚</p>
    <p class="cardlist" id="03">理性</p>
    <p class="cardlist" id="04">秩序</p>
    <p class="cardlist" id="05">知恵</p>
    <p class="cardlist" id="06">誓約</p>
    <p class="cardlist" id="07">善良</p>
    <p class="cardlist" id="08">節度</p>
    <p class="cardlist" id="09">至誠</p>
    <p class="cardlist" id="10">生命</p>
    <p class="cardlist" id="11">寛容</p>
    <p class="cardlist" id="12">解放</p>
    <p class="cardlist" id="13">調和</p>
    <p class="cardlist" id="14">創造</p>
    <p class="cardlist" id="15">信頼</p>
    <p class="cardlist" id="16">公式</p>
    <p class="cardlist" id="17">変化</p>
    <p class="cardlist" id="18">結合</p>
    <p class="cardlist" id="19">厳格</p>
    <p class="cardlist" id="20">勇気</p>
    <p class="cardlist" id="21">幸運</p>
    <p class="cardlist" id="22">庇護</p>
    <p class="cardlist" id="23">治癒</p>
    <p class="cardlist" id="24">慈愛</p>
  </div>
  <div class="pos-des-list">
    <p class="positive" id="01">精神力のある / 克己心が強い / 決断 / 意地っ張り</p>
    <p class="positive" id="02">可憐 / 清純 / 気品がある / 美しい</p>
    <p class="positive" id="03">知性的 / 合理的 / 理解力 / 冷静</p>
    <p class="positive" id="04">組織 / 規律 / 命令 / 勲章 / 型にはまっている</p>
    <p class="positive" id="05">聡明 / 分別 / 学習能力 / 工夫 / 賢者</p>
    <p class="positive" id="06">約束 / 契約 / 宣言 / 同盟</p>
    <p class="positive" id="07">道徳 / 博愛 / 長所 / 仁義</p>
    <p class="positive" id="08">節操 / 中庸 / 抑制 / 頃合い / 礼儀正しい</p>
    <p class="positive" id="09">真面目 / 真摯 / 正直 / 実直 / 堅物</p>
    <p class="positive" id="10">誕生 / 萌芽 / 自然 / 生き残る</p>
    <p class="positive" id="11">鷹揚 / 甘い / おおらか / 大雑把 / 包容力</p>
    <p class="positive" id="12">解き放つ / 助け出す / 手放す / 喪失 / 許す</p>
    <p class="positive" id="13">協力 / 似合う / 釣り合う / 一致</p>
    <p class="positive" id="14">製作 / 建築 / 独創性のある / 発明</p>
    <p class="positive" id="15">信任 / 任せる / 当てにする / 依存</p>
    <p class="positive" id="16">儀式 / 正式 / 堅苦しい / 模範</p>
    <p class="positive" id="17">変質 / 革命 / バリエーション / 入れ替え</p>
    <p class="positive" id="18">組み合わせ / 合流 / 協同 / 連鎖</p>
    <p class="positive" id="19">厳か / 手厳しい / 苛烈 / シビア</p>
    <p class="positive" id="20">勇敢 / 根性 / 度胸 / 無遠慮</p>
    <p class="positive" id="21">巡り合わせ / 果報 / 多幸 / 好機</p>
    <p class="positive" id="22">保護する / 後見人 / サポートする</p>
    <p class="positive" id="23">回復 / 再起 / 復調 / 治る</p>
    <p class="positive" id="24">慈しみ / 情愛 / あたたかみ / 優しさ</p>
  </div>
  <div class="rev-des-list">
    <p class="reverse" id="01">優柔不断 / 躊躇 / 本意でない結果</p>
    <p class="reverse" id="02">色っぽい / 官能的 / セクシュアル</p>
    <p class="reverse" id="03">感情的 / フィーリング / 情熱 / 気分屋</p>
    <p class="reverse" id="04">混沌 / 大騒ぎ / 崩壊 / 狼狽 / 不安</p>
    <p class="reverse" id="05">無知 / 暗愚 / 白痴 / 浅はか / 間抜け</p>
    <p class="reverse" id="06">裏切り / 背信 / 不義 / 反逆</p>
    <p class="reverse" id="07">邪悪 / 不道徳 / 遺恨 / 害悪 / 意地悪い</p>
    <p class="reverse" id="08">無節操 / 尻軽 / けじめがない / 変節漢</p>
    <p class="reverse" id="09">不実 / 虚言 / 不忠 / 詐偽 / 空言</p>
    <p class="reverse" id="10">絶命 / 終わり / もしものこと / 死神 / 喪失</p>
    <p class="reverse" id="11">狭量 / けちくさい / せせこましい / 融通の利かない</p>
    <p class="reverse" id="12">束縛 / 拘束 / 抑圧 / 制限 / 閉じ込める</p>
    <p class="reverse" id="13">対立 / 排他 / 諍い / 食い違い</p>
    <p class="reverse" id="14">模倣 / 破壊 / 解体 / 人真似</p>
    <p class="reverse" id="15">疑惑 / 心許ない / 危うい / 不確実</p>
    <p class="reverse" id="16">私的 / 内輪 / 個人的 / 簡略 / 軽い</p>
    <p class="reverse" id="17">不変 / 永遠 / 静的 / 不滅 / 変えられない</p>
    <p class="reverse" id="18">分離 / 別れ / 離れ離れ / 解散</p>
    <p class="reverse" id="19">だらしない / 杜撰 / 軟弱 / 不甲斐ない</p>
    <p class="reverse" id="20">臆病 / 腰抜け / 気が小さい / シャイ</p>
    <p class="reverse" id="21">災難 / 薄幸 / 薄命 / 悪運 / 厄</p>
    <p class="reverse" id="22">圧政 / 虐げる / いびる / 責め苛む</p>
    <p class="reverse" id="23">傷つく / 汚点になる / 堪える / 心を痛める</p>
    <p class="reverse" id="24">憎悪 / 嫌忌 / 毛嫌う / 唾棄する</p>
  </div>

<%= javascript_tag do %>
  var target_imgs = document.getElementsByClassName("tarot-image");
  var factors = document.getElementsByClassName("oracle-item");
  var cards = document.getElementsByClassName("cardlist");
  var pos_cards = document.getElementsByClassName("positive");
  var rev_cards = document.getElementsByClassName("reverse");

  for (var i = 0 ; i < target_imgs.length; i++) {
    target_imgs[i].addEventListener("click", function(){
    document.getElementById("result-factor").textContent = factors[this.dataset.num].innerText;
    document.getElementById("result-image").src = this.src;
    if (this.classList.contains("pos") == true){
      document.getElementById("result-name").textContent = cards[this.id-1].innerText+"の正位置";
      document.getElementById("result-description").textContent = pos_cards[this.id-1].innerText;
    }
    else{
      document.getElementById("result-name").textContent = cards[this.id-1].innerText+"の逆位置";
      document.getElementById("result-description").textContent = rev_cards[this.id-1].innerText;
    }
    });
  }
<% end %>
