<% provide(:title, "Oracle | ") %>
<div class="content">
  <p id="oracle">
    &nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;主人公の現在
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;主人公の近い未来
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;主人公の過去<br>
    <% tarot = (1..24).to_a %>
    <% position = [0, 1]%>
    <% oracle = tarot.sample(6) %>
    <% for i in 0..2 do %>
      <% image_num = oracle[i].to_s.rjust(2, "0") %>
      <% image_pos = position.sample(1) %>
      <% image_name = image_pos[0].to_s+image_num %>
      <% image_path = "tarot/"+image_name+".png" %>
      <%= image_tag(image_path, :height => "260px", :class => "tarot-image #{image_pos[0].to_s}", :id => image_num) %>
    <% end %>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.&nbsp;援助者
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.&nbsp;敵対者
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.&nbsp;結末（目的）<br>
    <% for i in 3..5 do %>
      <% image_num = oracle[i].to_s.rjust(2, "0") %>
      <% image_pos = position.sample(1) %>
      <% image_name = image_pos[0].to_s+image_num %>
      <% image_path = "tarot/"+image_name+".png" %>
      <%= image_tag(image_path, :height => "260px", :class => "tarot-image #{image_pos[0].to_s}", :id => image_num) %>
    <% end %>
    <br>
    <%= link_to "もう一度占う", oracle_path, class: "btn btn-lg btn-cyan700_rsd" %>
  </p>
  <p id="result">
    <%= image_tag("tarot/000.png", :height => "500px", :id => "result-image") %>
    <div id="result-name">
      カード名
    </div>
    <div id="result-description">
      説明
    </div>
  </p>
</div>

  <div>
    <p class="cardlist" id="01">意志</p>
    <p class="cardlist" id="02">清楚</p>
    <p class="cardlist" id="03">理性</p>
    <p class="cardlist" id="04">秩序</p>
    <p class="cardlist" id="05">知恵</p>
    <p class="cardlist" id="06">誓約</p>
    <p class="cardlist" id="07">善良</p>
    <p class="cardlist" id="08">節度</p>
    <p class="cardlist" id="09">至誠</p>
    <p class="cardlist" id="10">生命</p>
    <p class="cardlist" id="11">寛容</p>
    <p class="cardlist" id="12">解放</p>
    <p class="cardlist" id="13">調和</p>
    <p class="cardlist" id="14">創造</p>
    <p class="cardlist" id="15">信頼</p>
    <p class="cardlist" id="16">公式</p>
    <p class="cardlist" id="17">変化</p>
    <p class="cardlist" id="18">結合</p>
    <p class="cardlist" id="19">厳格</p>
    <p class="cardlist" id="20">勇気</p>
    <p class="cardlist" id="21">幸運</p>
    <p class="cardlist" id="22">庇護</p>
    <p class="cardlist" id="23">治癒</p>
    <p class="cardlist" id="24">慈愛</p>
  </div>
  <div>
    <p class="positive" id="01">精神力 / 克己心 / 決断 / 意地</p>
    <p class="positive" id="02">清楚</p>
    <p class="positive" id="03">理性</p>
    <p class="positive" id="04">秩序</p>
    <p class="positive" id="05">知恵</p>
    <p class="positive" id="06">誓約</p>
    <p class="positive" id="07">善良</p>
    <p class="positive" id="08">節度</p>
    <p class="positive" id="09">至誠</p>
    <p class="positive" id="10">生命</p>
    <p class="positive" id="11">寛容</p>
    <p class="positive" id="12">解放</p>
    <p class="positive" id="13">調和</p>
    <p class="positive" id="14">創造</p>
    <p class="positive" id="15">信頼</p>
    <p class="positive" id="16">公式</p>
    <p class="positive" id="17">変化</p>
    <p class="positive" id="18">結合</p>
    <p class="positive" id="19">厳格</p>
    <p class="positive" id="20">勇気</p>
    <p class="positive" id="21">幸運</p>
    <p class="positive" id="22">庇護</p>
    <p class="positive" id="23">治癒</p>
    <p class="positive" id="24">慈愛</p>
  </div>
  <div>
    <p class="reverse" id="01">優柔不断 / 躊躇 / 本意でない結果</p>
    <p class="reverse" id="02">清楚</p>
    <p class="reverse" id="03">理性</p>
    <p class="reverse" id="04">秩序</p>
    <p class="reverse" id="05">知恵</p>
    <p class="reverse" id="06">誓約</p>
    <p class="reverse" id="07">善良</p>
    <p class="reverse" id="08">節度</p>
    <p class="reverse" id="09">至誠</p>
    <p class="reverse" id="10">生命</p>
    <p class="reverse" id="11">寛容</p>
    <p class="reverse" id="12">解放</p>
    <p class="reverse" id="13">調和</p>
    <p class="reverse" id="14">創造</p>
    <p class="reverse" id="15">信頼</p>
    <p class="reverse" id="16">公式</p>
    <p class="reverse" id="17">変化</p>
    <p class="reverse" id="18">結合</p>
    <p class="reverse" id="19">厳格</p>
    <p class="reverse" id="20">勇気</p>
    <p class="reverse" id="21">幸運</p>
    <p class="reverse" id="22">庇護</p>
    <p class="reverse" id="23">治癒</p>
    <p class="reverse" id="24">慈愛</p>
  </div>

<%= javascript_tag do %>
  var target_imgs = document.getElementsByClassName("tarot-image");

  var cards = document.getElementsByClassName("cardlist");
  var pos_cards = document.getElementsByClassName("positive");
  var rev_cards = document.getElementsByClassName("reverse");

  for (var i = 0 ; i < target_imgs.length; i++) {
    target_imgs[i].addEventListener("click", function(){
    document.getElementById("result-image").src = this.src;
    if (this.classList.contains("0") == true){
      document.getElementById("result-name").textContent=cards[this.id-1].innerText+"の正位置";
      document.getElementById("result-description").textContent=pos_cards[this.id-1].innerText;
    }
    else{
      document.getElementById("result-name").textContent=cards[this.id-1].innerText+"の逆位置";
      document.getElementById("result-description").textContent=rev_cards[this.id-1].innerText;
    }
    });
  }
<% end %>
